.filters {
	color: #FFFFFF;
	text-align: left;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}

.filters .locations,
.filters .amenities {
	display: inline-block;
	height: 100%;
	width: 25%;
	color: #000000;
	padding-left: 35px;
	position: relative;
}

.filters .locations {
	border-right: #DDDDDD solid 1px;
}

.filters div h3 {
	font-weight: 600;
	margin-bottom: 0px;
	padding-left: 25px;
}

.filters div h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	margin-top: 5px;
	padding-left: 25px;
}

.filters div:not(:first-child) {
	margin-left: -4px;
}

.filters div .popover {
	display: none;
	width: 100%;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 100%;
	left: -1px;
	z-index: 5;
}

.filters div:hover .popover {
	display: block;
}

.filters div .popover ul {
	list-style: none;
}

.filters div .popover>li {
	margin: 25px;
}

.filters div .popover li ul li:not(:last-child) {
	margin-bottom: 5px;
}

.filters div .popover li h2 {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
}

.filters button:hover {
	opacity: .9;
}